<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Right Arrow</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="page-grid-container">
        <header class="header-flexbox">
            <nav class="nav-flex">
                <h1>The Right Arrow</h1>
                <ul class="ul-flex">
                    <a href="/"><li>Home</li></a>
                    <a href="/news"><li>Articles</li></a>
                    <a href="/about"><li>About</li></a>
                    <a href="/contact"><li>Contact</li></a>
                    
                </ul>
            </nav>
        </header>