<%- include("partials/header"); -%>

<main class="main-grid-container">
    <div class="main-flex-container">
        <h2>
            Discover Your Inner Potential: Welcome to The Right Arrow
        </h2>
        <p>
            Greetings, seekers of personal growth and empowerment! Welcome to The Right Arrow, a guiding light on your journey to unlock the 
            full potential that lies within you. Our mission is to empower you with the knowledge, tools, and inspiration needed to navigate 
            life's challenges, embrace positive change, and lead a fulfilling and purpose-driven existence.
        </p>

        <p>
            In the vast sea of self-help resources, The Right Arrow stands out as your reliable companion, offering practical and actionable 
            insights to propel you forward on your path of personal development. Our aim is not to provide a one-size-fits-all solution but to 
            empower you to find your unique strengths and passions, harnessing them to create a life of meaning and fulfillment.
        </p>

        <p>
            The Right Arrow is more than just a website; it is a platform for self-discovery and growth. We encourage you to explore the depths 
            of your aspirations, challenge limiting beliefs, and embrace change as a catalyst for transformation. Each step you take with The 
            Right Arrow brings you closer to the person you aspire to become.
        </p>

        <p>
            As you navigate your path of personal empowerment, know that you are not alone. The Right Arrow fosters a vibrant community of 
            individuals like you, sharing experiences, wisdom, and encouragement. Together, we can lift each other higher, celebrate victories, 
            and find solace in shared challenges.
        </p>

        <p>
            The Right Arrow is your compass in the vast landscape of personal development. As you embark on this journey, we invite you to open 
            your heart and mind to the possibilities that await you. With determination and the right guidance, you have the power to chart your 
            course towards personal empowerment and a life of purpose. Welcome to The Right Arrow—where your journey to self-discovery and 
            transformation begins.
        </p>

    </div>
    <div class="side-flex-container">
        <div class="newsletter-container">
            <h3>Subscribe to our weekly newsletter!</h3>
            <form action="/" method="post" class="newsletter-form">
                <input type="text" name="fName" placeholder="First Name" required autocomplete="off">
                <input type="text" name="lName" placeholder="Last Name" required autocomplete="off">
                <input type="email" name="email" placeholder="name@example.com" required autocomplete="off">
                <button>submit</button>
            </form>
        </div>
        <div>
            <h2>
                Enlightenment of the day!
            </h2>
            <p>
                <strong> Embrace Progress, Not Perfection</strong>: When it comes to self-improvement, it's essential to shift your focus from 
                striving for perfection to celebrating progress. Recognize that personal growth is a journey, not a destination. Instead of fixating 
                on every flaw or setback, acknowledge the small steps you take towards positive change. Each tiny improvement, no matter how seemingly
                insignificant, is a victory worth celebrating. Embrace the process of learning and evolving, and remember that self-improvement is 
                about becoming a better version of yourself, not about attaining perfection.
            </p>
        </div>
    </div>
    
</main>


<%- include("partials/footer"); -%>