<%- include("partials/header"); -%>

    <div class="success-grid-container">
        <div class="success-flex-container">
          <h1>Success!</h1>
          <p>You are successfully signed up! stay tuned for great content!</p>
        </div>
    </div>

<%- include("partials/footer"); -%>